<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome to the EkoyLearn team!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="logo">EnkoyLearn</div>
<div class="content">
  <div class="title">
    Welcome to the EkoyLearn team!
  </div>
  {{{text}}}
</div>
<div class="footer">
<div class="welcome-message">
  <p>Welcome to the EkoyLearn team!</p>
  <p>To start creating your course, please click the link above and follow the instructions.</p>
  <p>We can't wait to see what you'll create! ✨</p>
  <p>Welcome aboard! 🚀</p> 
</div>
</div>
</body>
</html>
